button {
  border: none;
  background-color: #fff;
}

.btn {
  &-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.3;
    &::after, &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 10px;
      height: 20px;
      width: 2px;
      background-color: #333;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:hover {
      opacity: 1;
    }
  }
  &-add {
    margin-right: 20px;
  }
  &-submit {
    width: 150px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.314);
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    &:hover {
      cursor: pointer;
      background-color: #e1e1e1;
      box-shadow: 0px 0px 10px 1px #525252;
    }
  }
  &-wrapper {
    margin: 10px auto;
    gap: 20px;
  }
  &-search{
    height: 30px;
    border: 1px solid #DFDFDF;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
    position: relative;
    height: 40px;
    width: 10%;
    text-align: start;
  }
}

.delete-confirm {
  display: flex;
}

.edit-form-btn {
  font-family: "Golos Text", sans-serif;
  font-size: 14px;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #525252;
  border: 1px solid #707070;
  transition: .3s;
  &:hover {
    cursor: pointer;
    background-color: #e1e1e1;
    box-shadow: 0px 0px 10px 1px #525252;
  }
}

.confirm:hover {
  background-color: #65b365;
}

.cancel:hover {
  background-color: #be6969;
}