.input {
  &-error {
    padding: 5px;
    background-color: #6fddff;
    width: 100px;
    height: 50px;
    border: 1px solid #b3b3b3;
    font-size: 14px;
    position: absolute;
    right: 20px;
    //bottom: 0;
    box-sizing: border-box;
  }
  &-base {
    font-family: "Golos Text", sans-serif;
    height: 15px;
    min-width: 45%;
    border: 1px solid #DFDFDF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    cursor: pointer;
    //resize: horizontal;
    color: #7B7B7B;
  }
}

form {
  width: 100%;
}

input {
  &::placeholder {
    color: #7B7B7B;
  }
  &:invalid {
    padding: 5px 5px 5px 10px;
    margin-top: 10px;
  }
  &:valid {
    color: #000;
    padding: 5px 10px 5px 10px;
  }
  &:focus {
    outline: none;
    border: 2px solid #00c3ff;
  }
  //&[name="patientName"] {
  //  width: 300px;
  //}
}

select {
  &:required:invalid {
    color: #7B7B7B;
    padding: 5px 5px 5px 10px;
    margin-top: 10px;
  }
  &:required:valid {
    color: #000;
    margin-top: 10px;
    padding: 5px 5px 5px 10px;
  }
  &:focus {
    outline: none;
    border: 2px solid #00c3ff;
  }
  &[name] {
    padding: 5px 5px 5px 10px;
    color: #7B7B7B;
  }
}

.select-base {
  //margin-left: 20px;
  border: 1px solid #DFDFDF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}