@import 'style/reset';
@import 'style/header';
@import 'style/main';
@import 'style/modal';
@import 'style/inputs';
@import 'style/login';
@import 'style/visit-form';
@import 'style/filters';
@import 'style/buttons';
@import 'style/visit-card';
@import 'style/footer';
@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Golos Text", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 992px;
}

.fa-solid {
  color: rgba(50, 54, 105, 0.58);
}

.fa-solid:hover {
  color: #081052;
  cursor: pointer;
}
.hidden {
  display: none;
}

.over {
  transform: scale(0.9, 0.9);
}